__pycache__/
.antlr/
PseudoParser.py
program.pseudo
Pseudo.interp
Pseudo.tokens
PseudoLexer.interp
PseudoLexer.py
PseudoLexer.tokens
PseudoListener.py
PseudoVisitor.py
command.txt
*.pseudo
.DS_Store
.pytest_cache/
tests/__pycache__/
tests/.pytest_cache/
venv/
build
dist
pseudoInterpreter.spec