__pycache__/
.antlr/
program.pseudo
Pseudo.interp
Pseudo.tokens
PseudoLexer.interp
PseudoLexer.tokens
command.txt
*.pseudo
.DS_Store
.pytest_cache/
tests/__pycache__/
tests/.pytest_cache/
venv/
build
dist
pseudoInterpreter.spec